name: Preview deploy

on:
  workflow_dispatch:
    inputs:
      with_translations:
        description: 'With translations'
        required: true
        type: boolean
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled

permissions:
  contents: read

jobs:
  preview-deploy:
    runs-on: ubuntu-latest
    env:
      IS_INTERNAL_BUILD: ${{ github.repository == 'peterbe/github-action-tricks' }}
    steps:
      - name: Should we include translations?
        uses: actions/github-script@v6
        id: translations
        with:
          script: |
            if (context.eventName === "workflow_dispatch") {
              return context.payload.inputs.with_translations === 'true'
            }

            console.log({IS_INTERNAL_BUILD: process.env.IS_INTERNAL_BUILD})

            console.log(context)
            console.log('-------------------------')
            console.log("KEYS", Object.keys(context))
            console.log("KEYS (PAYLOAD)", Object.keys(context.payload))
            console.log('-------------------------')


            console.log("CONTEXT ISSUE", context.issue)
            console.log("PULL REQUEST LABELS", context.payload.pull_request?.labels)
            if (context.payload.pull_request?.labels) {
              //console.log("PULL REQUEST LABELS", context.payload.pull_request.labels)
              return context.payload.pull_request.labels.map(label => label.name).includes('preview-with-translations')
            }

            console.log({eventName: context.eventName})
            //if (context.eventName === "workflow_dispatch") {
            //  console.log("IS workflow_dispatch")
            //} else {
            //  console.log(context)
            //}

            return false

      - name: Get result
        run: echo "${{ steps.translations.outputs.result }}"

      - name: DON'T do it
        if: ${{ steps.translations.outputs.result == 'false' }}
        run: echo "Don't do it"

      - name: DO it
        if: ${{ steps.translations.outputs.result == 'true' }}
        run: echo "Do it"
