name: Preview deploy

on:
  workflow_dispatch:
    inputs:
      with_translations:
        description: 'With translations'
        required: true
        type: boolean
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
      - labeled

permissions:
  contents: read

jobs:
  preview-deploy:
    runs-on: ubuntu-latest
    env:
      IS_INTERNAL_BUILD: ${{ github.repository == 'peterbe/github-action-tricks' }}
    steps:
      - name: Should we include translations?
        uses: actions/github-script@v7
        id: with-translations
        with:
          script: |
            if (process.env.IS_INTERNAL_BUILD !== 'true') return false

            if (context.eventName === "workflow_dispatch") {
              return context.payload.inputs.with_translations === 'true'
            }

            if (context.payload.pull_request?.labels) {
              return context.payload.pull_request.labels.map(label => label.name).includes('preview-with-translations')
            }

            return false

      - name: Get result
        run: echo "${{ steps.with-translations.outputs.result }}"

      - name: DON'T do it
        if: ${{ steps.with-translations.outputs.result == 'false' }}
        run: echo "Don't do it"

      - name: DO it
        if: ${{ steps.with-translations.outputs.result == 'true' }}
        run: echo "Do it"

      - name: Check out repo
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Get preview app info
        env:
          APP_NAME_SEED: ${{ secrets.PREVIEW_ENV_NAME_SEED }}
        run: |
          echo "Hacker here??"
          src/workflows/get-preview-app-info.sh
