name: Run after cancel-ongoing-action

on:
  workflow_run:
    workflows: ['Cancel ongoing action']
    types:
      - completed

permissions:
  contents: read


jobs:
  run-after-cancel:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v4

      - name: Hi there
        run: date

      - uses: actions/github-script@v6
        with:
          script: |

            console.log({EVENT_NAME: context.eventName});
            if (context.eventName === "workflow_run") {
              console.log({CONCLUSION: context.payload.workflow_run.conclusion});

              if (context.payload.workflow_run.conclusion !== 'success') {
                throw new Error("This ran even though the parent workflow completed but wasn't successful")
              }
            }
